@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Outfit:wght@200;400;600&display=swap");
html {
  margin: 0;
}
body {
  margin: 0;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  font-family: "Outfit", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

#main-container {
  margin-left: 10%;
  max-width: 80%;
}

#top-section img {
  width: 200px;
}

#top-section {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: 100%;
  margin-top: 2em;
}
#timer-box {
  position: relative;
  margin-right: 10%;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
}

#timer {
  position: relative;
  left: 88%;
  border: solid 15px aqua;
  width: 100px;
  text-align: center;
  height: 100px;
  top: -50px;
  border-radius: 50%;
  display: inline-block;
}

#game {
  margin-top: 6em;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  width: 70%;
}

center {
  width: 1080px;
  margin-inline: auto;
  margin-block: 30px;
}

#answers-options {
  margin-inline: auto;
  width: 100%;
  margin-block-start: 50px;
}

#question-title {
  font-size: 4.4em;
  margin-block-end: 50px;
  margin-block-start: 60px;
  width: 801px;
  margin-inline: auto;
  font-family: "Outfit", sans-serif;
}

.options {
  width: 500px;
  height: 90px;
  /* border-radius: 50px; */
  text-align: center;
  font-size: 1.2em;
  /* border: solid 1px white; */
  /* background: transparent; */
  /* opacity: 0.4; */
  color: white;
  margin-inline: 20px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 70px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(11.3px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-inline-start: 0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

#option1 {
  margin-block-end: 40px;
}
#option2 {
  margin-inline-end: 0;
  margin-block-end: 40px;
}
#option4 {
  margin-inline-end: 0;
}

#top-line {
  display: inline-block;
  /* margin: 37px; */
}
#bottom-line {
  display: inline-block;
  /* margin: 37px; */
}

#question-counter {
  margin-inline: auto;
  width: 100%;
  margin-block-start: 150px;
  margin-block-end: 20px;
  font-size: 1.7em;
  font-weight: 600;
}

#button-box {
  display: flex;
  justify-content: right;
  margin-top: 2em;
  width: 100%;
}

#next-btn {
  width: 160px;
  height: 50px;
}
#next {
  width: 100%;
  height: 100%;
  background-color: aqua;
  font-family: inherit;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
}

#light {
  font-weight: 100;
}

#bold {
  font-weight: bold;
}
.total-question {
  color: #d20094;
}

.choice-container:hover {
  background: linear-gradient(0deg, #900080, #d20094);
  /* transition: 3s; */
}
.options:active {
  background: linear-gradient(0deg, #900080, #d20094);
  transition: 3s;
}

/*                CSS FOR TIM'S JS FUNCTIONALITY            */
