/* ATTENTION! The following styling is used on all pages*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;900&family=Outfit:wght@100;200;300;400;700&display=swap");
@media only screen and (max-width: 600px) {
}

html {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
}

body {
  font-family: Outfit;
  color: #e7e7eb;
  width: 100%;

  margin: 0;
}

#epicode {
  width: 200px;
  margin-top: 2em;
  margin-bottom: 1em;
}

/*ATTENTION!!! The following styling is used on the Welcome Page*/

#topcontainer {
  margin-left: 10%;
  width: 51%;
}

#heading {
  font-weight: 300;
  font-size: 60px;
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}
#heading span {
  display: block;
  line-height: 0.2;
  font-size: 60pt;
}
.bold {
  font-weight: 700;
}

#instructions {
  color: #c2128d;
  margin: 0;
  font-size: 24px;
}
p {
  font-family: inter;
  font-weight: 300;
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 2em;
}
ul {
  font-family: inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 3em;
}
#info-container {
  width: 65%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
}

button {
  background-color: #00ffff;
  border: none;
  padding: 0.5em 2em 0.5em 2em;
  font-weight: 700;
  font-size: 20px;
  font-family: inter;
}

/* I think that the button has a box shadow after the box is checked... for now, it's on hover*/
/*I don't think that I need this now that JS is in place
button:hover {
  box-shadow: #00ffff 0px 0px 30px;
  color: #0a294f;
}*/

.glow {
  box-shadow: #00ffff 0px 0px 30px;
  color: #0b2e5a;
  transition: box-shadow 0.2s ease-in-out;
}
/*trying to style the checkbox...*/
.text {
  font-family: inter;
  font-size: 16px;
  display: inline-block;
}
label > input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  left: -5px;
  top: 12px;
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
}
label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0.1rem;
  border: solid 1.5pt #e7e7eb;
}

label > input[type="checkbox"]:checked + *::before {
  background-color: #e7e7eb;
  color: white;
  text-align: center;
  padding: 0.1rem;
}

/*ATTENTION!!! The following styling is used on the results page*/

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.toptext {
  text-align: center;
  line-height: 1px;
  margin-bottom: 2em;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  margin-top: 0.2em;
}

h3 {
  font-family: inter;
  font-weight: 300;
  font-size: 30px;
}

/*this was already written... I am tweaking*/

.results {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}
#percentage1 {
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
  width: 20%;
}
#percentage2 {
  padding-left: 0.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
  width: 20%;
}
.correct {
  font-weight: 400;
  display: inline-block;
  text-align: left;
}
.wrong {
  font-weight: 400;
  display: inline-block;
  opacity: 0.6;
  text-align: right;
}
#circle {
  position: relative;
  border-radius: 50%;
  width: 425px;
  height: 425px;
  background: conic-gradient(#c2128d 33.3%, #00ffff 33.3%);
  box-shadow: #0a0f31 0px 0px 30px;
}
#circle-filter {
  position: absolute;
  top: 11.1%;
  left: 11.1%;
  background: #0c113b;
  background-position: 720px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
  text-align: center;
  box-shadow: inset #0a0f31 0px 0px 30px;
}

.cyantext {
  color: cyan;
}
.results h4 {
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.results p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.btn {
  font-size: 2rem;
  padding: 0.8rem 3.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2px solid white;
  transition: 0.5s;
  position: relative;
  margin-top: 1em;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #07d6dd91;
  transition: transform 150ms;
  transform: scale(1.02);
  transition: 0.5s;
}
.results h2 {
  margin: 0;
  padding: 0;
}
.questiongotcorrect {
  font-size: 19px;
  font-weight: 200;
  text-align: left;
  margin: 0;
  padding: 0;
}
.questionsgotwrong {
  font-size: 19px;
  font-weight: 200;
  text-align: right;
  margin: 0;
  padding: 0;
}
#percentages {
  position: relative;
  top: 5rem;
}
#aligning {
  display: flex;
  align-items: center;
  justify-content: center;
}
