@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Outfit:wght@200;400;600&display=swap");
body {
  background-color: antiquewhite;
  margin: 0;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-family: "Inter", sans-serif;
}

#main-container {
  margin-inline: auto;
  max-width: 100%;
  padding-block: 3.125em;
  /* background-image: url(./assets/bg.jpg); */
  padding-block: 90px;
}

#top-section img {
  width: 200px;
  margin-inline: auto;
}

#top-section {
  margin-inline: auto;
  height: 150px;
  width: 70%;
}


#timer {
  position: relative;
  left: 90%;

#bottom-section {
  margin-inline: auto;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

#question-title {
  font-size: 60px;
  margin-block-end: 1em;
  width: 700px;
}

.options {
  width: 500px;
  height: 90px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-inline: 20px;
  background: rgb(11 16 59 / 62%);
  border-radius: 70px;
  backdrop-filter: blur(310px);
}

#option1 {
  margin-block-end: 40px;
  margin-inline-end: 20px;
}
#option2 {
  margin-inline-start: 20px;
  margin-block-end: 40px;
}
#option3 {
  margin-inline-end: 20px;
}
#option4 {
  margin-inline-start: 20px;
}
#answers-section {
  width: 70%;
  margin-inline: auto;
  margin-block-start: 6em;
}

#top-line {
  width: 100%;
}
#bottom-line {
  display: inline-block;

#question-counter {
  margin-inline: auto;
  margin-block-start: 3em;
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

.first-div {
  background-image: linear-gradient(170deg, #ffffff 25%, #00a95000 90%);
  border-radius: 80px;
  box-sizing: border-box;
  display: inline-block;
  height: 99px;
  letter-spacing: 1px;
  padding: 4px;
  text-decoration: none;
  width: 507px;
  z-index: 1;
  margin-block-end: 40px;
  margin-inline-start: 10px;
}

#light {
  font-weight: 100;
}

#bold {
  font-weight: bold;
}
.total-question {
  color: #d20094;
}

.options:hover {
  background: linear-gradient(0deg, #900080, #d20094);
}
.options:active {
  background: linear-gradient(0deg, #900080, #d20094);
}

/*                CSS FOR TIM'S JS FUNCTIONALITY            */
