@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html {
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
body {
  font-family: roboto;
  color: #e7e7eb;
  width: 100%;
}
#topcontainer {
  margin-left: 20%;
  width: 39%;
}
#epicode {
  width: 20%;
  margin-top: 3em;
  margin-bottom: 1em;
}
h1 {
  font-weight: 400;
  font-size: 55pt;
  text-align: left;
}
h1 span {
  display: block;
  line-height: 0.2;
  font-size: 57pt;
}
.bold {
  font-weight: 700;
}
h2 {
  color: #c2128d;
  margin-bottom: 0.2em;
}
p {
  font-weight: 300;
  font-size: 13pt;
  margin-top: 0;
  margin-bottom: 3em;
}
ul {
  font-weight: 300;
  font-size: 12pt;
  line-height: 1.5;
  margin-bottom: 3em;
}
#info-container {
  width: 60%;
  margin-right: auto;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
label > span {
  margin-left: 0.5em;
}
button {
  background-color: #00ffff;
  border: none;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-weight: 700;
  font-size: 18pt;
}

/* I think that the button has a box shadow after the box is checked... for now, it's on hover*/
button:hover {
  box-shadow: #00ffff 0px 0px 20px;
}
/*trying to style the checkbox...*/
label > input[type="checkbox"] {
  display: none;
}
label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  width: 0.8rem;
  height: 0.8rem;
  border: solid 1.5pt #e7e7eb;
}

label > input[type="checkbox"]:checked + *::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "✓";
  color: white;
  text-align: center;
}
