@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Outfit:wght@200;400;600&display=swap");

body {
  background-color: antiquewhite;
  margin: 0;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  font-family: "Outfit", sans-serif;
  /* font-family: "Inter", sans-serif; */
}
#main-container {
  margin-inline: auto;
  max-width: 80%;
}

#top-section {
  width: 100%;
  margin-top: 2em;
}
#top-section img {
  width: 200px;
  margin-inline: auto;
}

#bottom-section {
  color: white;
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

#title {
  font-size: 60px;
  font-weight: 600;
}
#title-description {
  font-size: 1.8em;
  margin-block-end: 30px;
  width: 815px;
  margin-inline: auto;
  font-weight: 100;
}

#stars {
  margin-block: 60px;
  margin-inline: auto;
}

#feedback {
  font-size: 1.8em;
  margin-block: 50px;
  margin-inline: auto;
  font-weight: 100;
  text-align: center;
}

input {
  width: 825px;
  margin-block-end: 40px;
  background: none;
  border: none;
  border-bottom: solid 2px #900080;
  height: 30px;
  outline: none;
  color: white;
  font-size: 1.2em;
  padding-inline-start: 31px;
  padding-block-end: 10px;
  font-family: "Inter", sans-serif;
}

#button button {
  width: 280px;
  height: 80px;
  font-size: 1.8em;
  border-radius: 0px;
  outline: none;
  border: none;
  background-color: #00ffff;
  margin-block-start: 40px;
  font-weight: 900;
  cursor: pointer;
}

#form {
  width: 890px;
  margin-inline: auto;
}

.inactive-star {
  filter: brightness(0.1);
  cursor: pointer;
  filter: hue-rotate(182deg) opacity(0.3);
}

.inactive-star:hover {
  filter: brightness(1);
}

.inactive-star.selected {
  filter: brightness(1);
}

#stars img {
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}

#button button:hover {
  box-shadow: 0px 0px 30px cyan;
  transition: 1s;
}
